@charset "utf-8";

@import url("smartphone.css");
@import url("desktop.css");

@font-face {font-family: 'brandon_grotesquemedium';src: url('../fonts/brandon_med-webfont.eot');src: url('../fonts/brandon_med-webfontd41d.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon_med-webfont.woff') format('woff'),url('../fonts/brandon_med-webfont.ttf') format('truetype'),url('../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');font-weight: normal;font-style: normal;}

* {margin:0;padding:0;}

/*html{
	overflow: hidden;
}*/

body {background-color:#000;font-family: "brandon_grotesquemedium";font-size:1em;color:#FFF;position:relative;}
header{background: rgba(0, 0, 0, .5);position:absolute;top:0%;left:0%;width:100%;min-width:100%;height:50px;z-index:2000;}
img{border:none;}


#logo{
	position:absolute;
	display:inline-block;
	width:229px;
	height:50px;
	overflow:hidden;
	background: url('../img/assets/lats_logo.png') 0px 0px no-repeat;
	margin:0px 12px;
	z-index:3000;
}

#logo img {
	margin-top:-50px;
	opacity:1;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

#logo img:hover{
	opacity:0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}


#topmenu > ul > li > a{
	color:#FFF;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	-ms-transition: color .5s;
	transition: color .5s;
}


#topmenu > ul > li.active > a, #topmenu > ul > li > a:hover, #topmenu > ul > li.submenu > a{
	color:#c3bf9c;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	-ms-transition: color .5s;
	transition: color .5s;
}

li.submenu li.icon{
	padding:10px;
}

li.submenu li.icon a{
	text-indent: 1000px;
	overflow:hidden;
	display:block;
	width:32px;
	height:32px;
}

li.submenu li.fb a{
	background-image:url('../img/assets/fb_icon.png');
}

li.submenu li.tw a{
	background-image:url('../img/assets/tw_icon.png');
}
li.submenu li.yt a{
	background-image:url('../img/assets/yt_icon.png');
}



#viewport{position:relative;width:100%;height:100%;overflow:hidden;}
#wall{width:400%;height:300%;position:absolute;top:0%;left:0%;}
.slide{background-color:#000;width:25%;height:33%;display:block;position:absolute;min-height:33px;overflow:hidden;}



.full {
	overflow:hidden;
	position:absolute;
}

img.full, video.full, div.vimeo{
	position:absolute;
	top:0px;
	left:0px;
}



div.info {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	overflow:hidden;
}


div.info > div.content {
	
	margin:auto;
	text-align: center;
	width:750px;
	display:block;
}


div.info > div.content > h2 {
	color:#c3bf9c;
	font-family: 'brandon_grotesquemedium';
	font-weight: normal;
	letter-spacing: 4pt;
	font-size: 28px;
	text-transform: uppercase;
}

div.info > div.content > hr{
	height:0px;
	background: #fff;
	height: 2px;
	width: 90px;
	border: none;

	margin: auto;
}

div.info > div.content > p{
	font-family:'Glegoo';
	font-size: 14px;
	line-height: 20px;
	margin:14px 0;
}

div.info > div.content > p a{
	color:#c3bf9c;
}


/*------------content2---------*/
div.info1 {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	overflow:hidden;
}


div.info1 > div.lcontent {
	
	margin:auto;
	text-align: center;
	width:950px;
	display:block;
}


div.info1 > div.lcontent > h2 {
	color:#c3bf9c;
	font-family: 'brandon_grotesquemedium';
	font-weight: normal;
	letter-spacing: 4pt;
	font-size: 28px;
	text-transform: uppercase;
}

div.info1 > div.lcontent > hr{
	height:0px;
	background: #fff;
	height: 2px;
	width: 90px;
	border: none;

	margin: auto;
}

div.info1 > div.lcontent > p{
	font-family:'Glegoo';
	font-size: 14px;
	line-height: 20px;
	margin:14px 0;
}

div.info1 > div.lcontent > p a{
	color:#c3bf9c;
}

div.close-cross{background: url('../img/assets/close-cross.png') no-repeat center center;display:block;width:27px;height:27px;position:absolute;top:84px;left:50px;cursor:pointer;-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;}
div.close-cross:hover{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}



#home{}
#the-film{}
#filmmakers{}
#Proshow{}
#gallery{}
#about-us{}
#what-is-progeria{}
#sponsers{}


#home video.fullvideo{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:1001;
}


#home div.overlay{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	min-height:2000px;
	z-index:1002;
	background-image: url('../img/assets/trans.png');
}

#home div.title{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1003;
	text-align:center;
	color:#c3bf9c;
	text-transform:uppercase;
	font-size:12px;
	width:100%;
	/*padding-top:10%;*/
}

#home div.title p{
	margin:0 auto 20px;
	line-height:20px;
	letter-spacing:1px; 
}

ul.home_slide li{
	display:inline-block;
}

#home img.arrows{
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:1004;
}

#home p.trailer{
	background:url('../img/assets/trailer-play-gold.png') center center no-repeat;
}

#home p.trailer a{
	margin-top:7px;
	display:inline-block;
	opacity:1;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

#home p.trailer a:hover{
	opacity:0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

#trailer-video{
	z-index:7000;
}

div.trailer-close, div.progeria-close{background: url('../img/assets/close-cross.png') no-repeat center center;width:27px;height:27px;position:absolute;top:20px;left:20px;cursor:pointer;-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;}
div.trailer-close:hover, div.progeria-close:hover{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}



#gallery {

}

#gallery * {
	margin:0px;
	padding:0px;
}

#gallery ul{}
#gallery li.media{position:relative;display:inline-block;float:left;overflow:hidden;}
#gallery li.media img{text-align:center;position:absolute;top:0;left:0;z-index:1;opacity:0.5;-webkit-transition: opacity .8s;-moz-transition: opacity .8s;-o-transition: opacity .8s;-ms-transition: opacity .8s;transition: opacity .8s;}
#gallery li.media:hover img{opacity:1;}
#gallery a {position:absolute;display:block;top:0;left:0;z-index:2;width:100%;height:100%;}
#gallery li.media span.media-cover{display:block;width:100%;height:100%;background: url('../img/assets/cover-gallery-plus.png') no-repeat center center;opacity: 0;-webkit-transition: opacity .8s;-moz-transition: opacity .8s;-o-transition: opacity .8s;-ms-transition: opacity .8s;transition: opacity .8s;}
#gallery li.media:hover span.media-cover{opacity: 1;}
ul#full-list{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:5000;display:none;opacity:0;}
ul#full-list > li{display:block;position:absolute;overflow:hidden;top:0px;left:0px;}
div.gallery-close{background: url('../img/assets/close-cross.png') no-repeat center center;display:none;width:27px;height:27px;position:absolute;top:20px;left:20px;cursor:pointer;-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;}
div.gallery-close:hover{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}


#gallery ul#nav{
	position:absolute;
	right:20px;
	bottom:20px;
	width:100px;
	height:48px;
	z-index:5001;
	font-size:2px;
	line-height:2px;
	display:none;
}

#gallery ul#nav li{
	display:inline-block;
	list-style:none;
	padding:1px;
	width:21px;
	height:14px;
}

#gallery ul#nav li span{
	display:inline-block;
	width:21px;
	height:14px;
	background-color:rgba(255, 255, 255, 0.2);
}

#gallery ul#nav li span.active{
	background-color:rgba(255, 255, 255, 0.5);
}

#Proshow h3{
	color: #c3bf9c;
	font-family: 'brandon_grotesquemedium';
	font-weight: normal;
	letter-spacing: 4pt;
	font-size: 20px;
	text-transform: uppercase;
}

#Proshow div.content{
	width:960px;
}


#Proshow ul li{
	list-style:none;
	display:inline-block;
}

#Proshow ul.screenings li{
	/*width:300px;*/
	line-height:22px;
	/*padding:12px 0;*/
}

#Proshow ul.laurels li{
	width:150px;
	margin-bottom:20px;
}

#Proshow ul.screenings p.dates{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: "brandon_grotesquemedium";
	margin: 0;
}

#Proshow ul.screenings li{
	vertical-align:top;
	width:172px;
	padding:12px 10px;
	text-align:center;
	overflow:hidden;
}


#Proshow ul.screenings li a{
	color: #c3bf9c;
	font-size: 12px;
	font-family: 'Glegoo';
	text-decoration: none;
}

#Proshow ul.screenings p.location{
	color: #c3bf9c;
	font-size: 11px;
	font-family: 'Glegoo';
}

#Proshow ul.screenings p.notes{
	font-size: 10px;
	text-transform:uppercase;
}

#what-is-progeria div.controlls, #trailer div.controlls{
	position:absolute;
	bottom:40px;
	width:80%;
	padding:0 10%;
	text-align:right;
}

#trailer div.controlls, #what-is-progeria div.controlls{
	opacity:0;
	-webkit-transition: opacity .8s;
	-moz-transition: opacity .8s;
	-o-transition: opacity .8s;
	-ms-transition: opacity .8s;
	transition: opacity .8s;
}

#trailer:hover div.controlls, #what-is-progeria:hover div.controlls{
	opacity:1;
	-webkit-transition: opacity .8s;
	-moz-transition: opacity .8s;
	-o-transition: opacity .8s;
	-ms-transition: opacity .8s;
	transition: opacity .8s;
}


#what-is-progeria div.controlls div.total-time, #trailer div.controlls div.total-time{
	display:block;
	width:100%;
	height:3px;
	background-color:#333;
	overflow:hidden;
}

#what-is-progeria div.controlls div.current-time, #trailer div.controlls div.current-time{
	width:1%;
	height:3px;
	background-color:#FFF;
}

#what-is-progeria div.playpause, #trailer div.playpause{
	height:65px !important;
}

#what-is-progeria div.playpause div, #trailer div.playpause div{
	display:block;
	width:65px;
	height:65px;
	margin:0 auto;
	background:url('../img/assets/pause.png') no-repeat center center;
	opacity:0;
	-webkit-transition: opacity .8s;
	-moz-transition: opacity .8s;
	-o-transition: opacity .8s;
	-ms-transition: opacity .8s;
	transition: opacity .8s;
}

#what-is-progeria:hover div.playpause div, #trailer:hover div.playpause div{
	opacity:1;
	-webkit-transition: opacity .8s;
	-moz-transition: opacity .8s;
	-o-transition: opacity .8s;
	-ms-transition: opacity .8s;
	transition: opacity .8s;
}

#what-is-progeria div.controlls div.sound, #trailer div.controlls div.sound{
	opacity:0;
	-webkit-transition: opacity .8s;
	-moz-transition: opacity .8s;
	-o-transition: opacity .8s;
	-ms-transition: opacity .8s;
	transition: opacity .8s;
}

#what-is-progeria:hover div.controlls div.sound, #trailer:hover div.controlls div.sound{
	opacity:1;
	-webkit-transition: opacity .8s;
	-moz-transition: opacity .8s;
	-o-transition: opacity .8s;
	-ms-transition: opacity .8s;
	transition: opacity .8s;
}

#what-is-progeria div.playpause div.play, #trailer div.playpause div.play{
	background:url('../img/assets/play.png') no-repeat top center;
}

#what-is-progeria div.controlls div.sound, #trailer div.controlls div.sound{
	display:inline-block;
	width:18px;
	height:18px;
	background:url('../img/assets/volume.png') no-repeat  0px -20px;
	margin-top:10px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}

#what-is-progeria div.controlls div.active, #trailer div.controlls div.active{
	background-position: 0px 0px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}


#trailer div.controlls{
	z-index:8000;
}

#trailer #trailer-info{
	z-index:8000;
}




/*#Events div.info div.content {
	margin:auto 0px;
	width:100% !important;
}*/

#Events ul.qas{margin-top:70px;}
#Events ul.qas li{list-style:none;max-width: 100%;margin: 0;position: relative;background: rgba(0, 0, 0, 0.2);border-top: 2px solid #fff;border-bottom: 2px solid #fff;padding: 60px 0;}
#Events ul.qas li h3{color: #c3bf9c;text-align: center;font-family: 'brandon_grotesquemedium';text-transform: uppercase;font-weight: normal;padding: 0 20px;font-size: 16px;letter-spacing: 1pt;}
#Events ul.qas li hr{height: 1px;width: 120px;background: #c3bf9c;margin: 20px auto;border: none;border-top: 1px solid #ccc;padding: 0;display:block;}
#Events ul.qas li p.icon{position:relative;height:0px;}
#Events ul.qas li p.icon img{position:absolute;margin-top:-108px;margin-left:-45px;}
#Events ul.qas li p{text-align: center;font-family: 'Glegoo';color: #fff;font-size: 14px;line-height: 22px;padding:0 20px;}
#Events ul.qas li p b{font-weight: normal;color: #c3bf9c;text-transform: uppercase;font-family: 'brandon_grotesquemedium';font-size:16px;}


/* -------------  GET INVOLVED - BEGIN ------------- */
#sponsers div.overlay{position:absolute;top:0px;left:0px;width:100%;height:100%;min-height:2000px;z-index:1002;background-image: url('../img/assets/get-involved.gif');}
#sponsers div.info{z-index:1003;}
#sponsers div.info div.content{width:100% !important;}
#sponsers div.get{background: #ededed url('../img/assets/inner-shadow.png') no-repeat center top;	max-width:960px;width:100%;border: 2px solid #fff;position:relative;margin: 0 auto 70px;}
#sponsers h2.title{color: #2d2d2d;text-transform: uppercase;font-family: 'brandon_grotesquemedium';letter-spacing: 2pt;margin: 0;padding: 5px 0 20px;font-size: 42px;font-weight: normal;line-height: 36px;background: url('../img/assets/get-involved.gif') repeat;border: 2px solid #fff;display:inline-block;width:470px;position:relative;top:45px;z-index:1010;}
#sponsers h2.title em{color: #c3bf9c;font-size: 12px;font-style: normal;}
#sponsers ul.involved{}	
#sponsers ul.involved > li{display:inline-block;width:33%;min-width:250px;vertical-align:top;margin:70px 0 30px;}
#sponsers a{display:inline-block;background: #c3bf9c;color: #fff;text-decoration: none;padding: 10px 12px;font-family: "brandon_grotesquemedium";text-transform: uppercase;font-size: 12px;-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;	-o-transition: all .4s;transition: all .4s;outline: none;}
#sponsers a:hover{background: #2d2d2d;color: #fff;-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;}
#sponsers h3{font-family: "brandon_grotesquemedium";font-weight: normal;font-size: 30px;text-transform: uppercase;color: #c3bf9c;line-height: 22px;padding-top: 15px;padding-bottom: 15px;}
#sponsers ul em{font-style: normal;color: #000;font-size: 12px;}
#sponsers li.learn img{margin:12px 0;}
#sponsers li.talk img{margin:15px 0;}
#sponsers ul.social a{display:inline-block;padding:0px !important;width:39px;height:38px;text-indent:1000px;overflow:hidden;background-position: center center;}
#sponsers ul.social > li {display:inline-block;}
#sponsers ul.social li.fb a{background-image: url('../img/assets/fb-icon.png') }
#sponsers ul.social li.tw a{background-image: url('../img/assets/tw-icon.png') }
#sponsers ul.social li.gp a{background-image: url('../img/assets/gp-icon.png') }
#sponsers ul.social li.mail a{background-image: url('../img/assets/mail-icon.png') }
#sponsers div.credits{background-color:#000;padding:40px 0;}
#sponsers div.menubg{position:absolute;top:0px;left:0px;width:100%;display:block;height:50px;background-color:#000;z-index:1002;}
/* -------------  GET INVOLVED - END ------------- */


/* -------------  NAVIGATION ARROWS - BEGIN ------------- */
div.nav-arrow{display:block;position:absolute;z-index:1009;}
div.nav-arrow > i{display:block;position:relative;background: url('../img/assets/nav-arrows.png') no-repeat;width:30px;height:30px;cursor:pointer;}
div.top-arrow{left:50%;top:70px;}
div.bottom-arrow{left:50%;bottom:20px;}
div.right-arrow{top:50%;left:20px;}
div.left-arrow{top:50%;right:20px;}
div.top-arrow i{background-position:0px 0px;margin-left:-15px;}
div.bottom-arrow i{background-position:0px -30px;margin-left:-15px;}
div.right-arrow i{background-position:0px -60px;margin-top:-15px;}
div.left-arrow i{background-position:0px -90px;margin-top:-15px;}
body div.nav-arrow{opacity:0;-webkit-transition: opacity .8s;-moz-transition: opacity .8s;-o-transition: opacity .8s;-ms-transition: opacity .8s;transition: opacity .8s;}
body:hover div.nav-arrow{opacity:1;-webkit-transition: opacity .8s;-moz-transition: opacity .8s;-o-transition: opacity .8s;-ms-transition: opacity .8s;transition: opacity .8s;}
/* -------------  NAVIGATION ARROWS - END ------------- */


/* -------------  PRELOADER - BEGIN ------------- */
#preloader {position:absolute;top:0;left:0;right:0;bottom:0;background-color:#000;z-index:1010;text-align:center;}
#logo-loader{opacity:0.0;padding:20px 0 40px;}
#status {width:256px;height:4px;margin: 0 auto;background-color:#333;margin-bottom:10px;}
#status > div{display:block;height:4px;width:0px;background-color:#FFF;}
/* -------------  PRELOADER - END ------------- */







.fullh {
	overflow:hidden;
}
