@media (min-width: 1025px){
	#navbtn {
		display:none;
	}

	nav#topmenu{
		position:absolute;
		width:100%;
		text-align:right;
		display:inline-block !important;
	}

	nav#topmenu > ul {
		margin:0px 7px 0px 306px;
	}

	nav#topmenu > ul > li {
		display:inline-block;
	}

	nav#topmenu >ul > li > a{
		display:inline-block;
		font-size:12px;
		font-family: "brandon_grotesquemedium";
		color:#FFF;
		text-decoration: none;
		text-transform: uppercase;
		padding:18px 5px;
	}

	li.submenu li{
		list-style: none;
	}

	nav#topmenu li.submenu > ul{
		position:absolute;
		top:50px;
		right:10px;
		background: rgba(0, 0, 0, .1);
	}

	nav#topmenu li.submenu > ul{
		display:none;
	}

	nav#topmenu li.submenu:hover > ul{
		display:block;
	}

	nav#topmenu li.submenu > ul:hover{
		display:block;
	}

	/*li.submenu li.icon{
		padding:10px;
	}*/

	/*li.submenu li.icon a{
		text-indent: 1000px;
		overflow:hidden;
		display:block;
		width:32px;
		height:32px;
	}

	li.submenu li.fb a{
		background-image:url('../img/assets/fb_icon.png');
	}

	li.submenu li.tw a{
		background-image:url('../img/assets/tw_icon.png');
	}*/


	#home #seeit{
		color:#FFF;
	}



	#Events div.info div.content {
		margin:auto;
		width:1024px !important;
	}

	#Events ul.qas {
		/*position:relative !important;*/
		-webkit-transition: height .8s;
		-moz-transition: height .8s;
		-o-transition: height .8s;
		-ms-transition: height .8s;
		transition: height .8s;
	}

	#Events ul.qas li{
		position:relative !important;
		top:0px;
		left:0px;
		width:100% !important;
		height:100%;
		display:none;
	}

	#Events ul.qas li p{
		padding:0% 15% !important;
	}

	#Events ul.qas li:first-child{
		display:block;
	}


	#Proshow div.info > div.content{
		width:1024px;
	}


	#Proshow div.vport{
		position:relative;
		width:960px;
		height:auto;
		margin:0 32px;
		min-height:100px;
		overflow:hidden;
		text-align:left;
	}

	#Proshow ul.screenings{
		position:absolute;
		top:0px;
		left:0px;
	}

	#Proshow div.arrows{
		position:relative;
	}

	#Proshow div.arrow{
		display:block;position:absolute;
		background: url('../img/assets/nav-arrows.png') no-repeat;
		width:30px;
		height:30px;
		cursor:pointer;
		top:40px;
	}

	#Proshow div.arrows div.lft-arrow{
		background-position:0px -60px;
		left:0px;
	}

	#Proshow div.arrows div.rght-arrow{
		background-position:0px -90px;
		right:0px;
	}



	#what-is-progeria div.info > div.content{
		width:600px !important;
	}

	#what-is-progeria div.info > div.content p{
		line-height: 19px !important;
		font-size: 14px;
	}

	/*#sponsers div.info{
		padding-bottom:0px !important;
	}*/

	p.wip-play a{
		color: #fff !important;
		font-family: 'brandon_grotesquemedium';
		text-decoration:none;
		text-transform: uppercase;
		font-size: 11px;
		outline:none;
		padding-top:10px;
		-webkit-transition: all .4s;
		-moz-transition: all .4s;
		-o-transition: all .4s;
		-ms-transition: all .4s;
		transition: all .4s;
	}

	p.wip-play a:hover{
		color: #c3bf9c !important;
		-webkit-transition: all .4s;
		-moz-transition: all .4s;
		-o-transition: all .4s;
		-ms-transition: all .4s;
		transition: all .4s;
	}


	ul.qa-nav{
		width:1024px;
		text-align: center;
	}


	ul.qa-nav li{
		padding-top:40px;
		display:inline-block;
		list-style:none;
		width:102px;
		padding:40px 24px 0px;
	}


	ul.qa-nav li a{
		display: block;
		outline: none;
		font-size: 17px;
		color: #fff;
		text-decoration: none;
		border: 3px solid #fff;
		height: 108px;
		width: 108px;
		line-height: 98px;
		-webkit-border-radius: 58px;
		-moz-border-radius: 58px;
		-0-border-radius: 58px;
		-ms-border-radius: 58px;
		border-radius: 58px;

		-webkit-transition: all .8s;
		-moz-transition: all .8s;
		-o-transition: all .8s;
		-ms-transition: all .8s;
		transition: all .8s;
	}


	ul.qa-nav li.active{}
		/*background: url('../img/assets/white_line.png') no-repeat 50% 100%;
	}
	ul.qa-nav li.active1{
		background: url('../img/assets/white_line1.png') no-repeat 50% 100%;
	}
*/
	ul.qa-nav li a:hover, ul.qa-nav li.active a{
		border-color:#c3bf9c;
		color:#c3bf9c;
		-webkit-transition: all .8s;
	    -moz-transition: all .8s;
	    -o-transition: all .8s;
	    -ms-transition: all .8s;
	    transition: all .8s;
	}


	.smartphone{
		display:none !important;
	}
}