@media (max-width: 1024px) {
	
	body{
		font-size:0.8em;
	}

	#viewport {
		min-width:320px;
	}
	
	header{
		background:#000 !important;
		height:auto;
		display:block !important;
	}

	#navbtn {
		position:absolute;
		text-align:right;
		width:100%;
	}

	#navbtn a{
		display:inline-block;
		padding:15px;
	}


	nav#topmenu{
		position:relative;
		width:100%;
		min-width:100%;
		text-align:right;
		display:inline-block;
		margin-top:50px;
		background-color:#000;
	}

	nav#topmenu > ul{
		/*margin:15px;*/
	}

	nav#topmenu li{
		list-style:none;
		text-align:left;
	}

	nav#topmenu > ul > li{
		border-top:solid 1px #666;
	}


	nav#topmenu > ul > li > ul {
		display:inline-block;
	}


	nav#topmenu > ul > li > ul > li{
		display:inline-block;
	}


	nav#topmenu a{
		display:block;
		padding:10px;
		font-size:12px;
		font-family: "brandon_grotesquemedium";
		color:#FFF;
		text-decoration: none;
		text-transform: uppercase;
	}

	li.submenu li {
		padding:0 0 10px 10px !important;
	}

	li.submenu li a {
		padding:0px !important;
	}


	div.close-cross{
		display:none !important;
	}

	div.info{
		display:block !important;
		opacity:1.0 !important;
	}

	div.info > div.content{
		width:90% !important;
	}
	div.info > div.lcontent{
		width:90% !important;
	}
	#preloader{
		opacity:0 !important;
		display:none !important;
	}

	#home video.fullvideo{
		display:none;
	}


	#home div.title {
		margin-top:67px;
	}


	#home div.title p:first-child, ul.home_slide{
		display:none;
	}

	#home div.title img.intro-logo{
		width:35%;
	}

	#gallery{
		display:none !important;
	}


	#Events div.info div.content {
		margin:auto 0px;
		width:100% !important;
	}

	#Events ul.qas li {
		opacity:1.0 !important;
		display:list-item !important;
	}


	#sponsers h2.title{
		font-size: 30px !important;
		width:100% !important;
	}

	#sponsers div.credits{
		display:none;
	}

	#Proshow div.vport{
		height:auto !important;
	}

	#what-is-progeria{
		display:none !important;
	}


	ul.qa-nav{
		display:none !important;
	}


	.desktop{
		display:none !important;
	}


	.nav-arrow{
		display:none !important;
	}
}